apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: collab
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: 599525540247.dkr.ecr.ap-south-1.amazonaws.com/frontend:latest
          ports:
            - containerPort: 3000
          env:
            - name: API_BASE_URL
              value: "http://app:5000/api"
            - name: NEXT_PUBLIC_API_BASE_URL
              value: "/api"
